body {
  background-color: red;
}


#resolution {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(216, 216, 200);
  text-align: center;
  font-weight: bold;
  opacity: 0.5;
}

.enis {
  color:red;
}

#resolution:after {
  content: " XS < 576";
}

@media (min-width: 576px) {
  #resolution {
    background-color: orange;
  }

  #resolution:after {
    content: " SM < 768";
  }
}
@media (min-width: 768px) {
  #resolution {
    background-color: pink;
  }

  #resolution:after {
    content: " MD > 768 < 992";
  }
}
@media (min-width: 992px) {
  #resolution {
    background-color: beige;
  }

  #resolution:after {
    content: " LG > 922 < 1200";
  }
}
@media (min-width: 1200px) {
  #resolution {
    background-color: greenyellow;
  }

  #resolution:after {
    content: " XL > 122 < 1400";
  }
}
@media (min-width: 1400px) {
  #resolution {
    background-color: red;
  }

  #resolution:after {
    content: " XXL >  1400";
  }
}